<div class="col-md-12">
<h2>login</h2>

<button ui-sref="main">go to main</button>

	<div>
		<main style="margin-top: 20%;">
		  <article class="wwdc">
			<span class="spin">
			  <!-- Large Circles -->
			  <div class="large circle one"></div>
			  <div class="large circle two"></div>
			  <div class="large circle three"></div>
			  <div class="large circle four"></div>
			  <div class="large circle five"></div>
			  <div class="large circle six"></div>
			  <div class="large circle seven"></div>
			  <div class="large circle eight"></div>
			</span>
			<span class="pulse">
			  <!-- Small Shapes -->
			  <div class="small circle one"></div>
			  <div class="small squircle two"></div>
			  <div class="small circle three"></div>
			  <div class="small squircle four"></div>
			  <div class="small circle five"></div>
			  <div class="small squircle six"></div>
			  <div class="small circle seven"></div>
			  <div class="small squircle eight"></div>
			</span>
			  <!-- Squircles -->
			  <span class="spin-reverse">
				<div class="large squircle one"></div>
			  </span>
			  <div class="large squircle two">
				<div class="content">
				 <img src="assets/img/xel.svg"/>
				<!-- <h1>The epicenter of change.</h1> -->
				<!-- <p><strong>WWDC</strong>15</p> -->
			  </div>
			</div>
		  </article>
		</main>
	</div>
</div>