<div class="col-md-12">

	<x-card>
	  <main>
		<h2><strong>Xel Electron Updater</strong></h2>
		<p>Basic Xel Auto Updater for Electron Applications</p>
	  </main>
	</x-card>
	<x-button onClick="key();">
	  <x-label>check for Updates</x-label>
	</x-button>
	
	
	<x-card>
	  <main>
		<h2><strong>MAIN</strong></h2>
		<p>Angular ui Router</p>
	  </main>
	</x-card>
	<x-button ui-sref="login">
		<x-label>go to login</x-label>
	</x-button>
    
</div>

<!-- <div class="small" style="position:absolute; right:45%; bottom: 2%">
    <span id="version">{{ 'v ' + appVersion}}</span>
</div> -->
	<x-box style="position:absolute; right:45%; bottom: 2%">
	  <x-icon name="star"></x-icon>
	  <x-label>{{ 'v ' + appVersion}}</x-label>
	</x-box>	