<div class="col-md-12">

	<x-card>
	  <main>
		<h2><strong>Xel Electron Updater</strong></h2>
		<p>Basic Xel Auto Updater for Electron Applications</p>
	  </main>
	</x-card>
	<x-button onClick="key();">
	  <x-label>check for Updates</x-label>
	</x-button>
	
	
	<x-card>
	  <main>
		<h2><strong>MAIN</strong></h2>
		<p>Angular ui Router</p>
	  </main>
	</x-card>
	<x-button ui-sref="login">
		<x-label>go to updater</x-label>
	</x-button>
    
</div>

<x-button style="position:absolute; right:45%; bottom: 2%" togglable>
  <x-box >
	  <x-icon name="system-update-alt"></x-icon>
	  <x-label>{{ ' ' + appVersion}}</x-label>
  </x-box>
</x-button>