<div class="col-md-12">

	<x-card>
	  <main>
		<h2><strong>Xel Electron Updater</strong></h2>
		<p>Basic Xel Auto Updater for Electron Applications</p>
	  </main>
	</x-card>
	
	<x-card>
	  <main>
		<h2><strong>MAIN</strong></h2>
		<p>Angular ui Router</p>
	  </main>
	</x-card>
	<x-button ui-sref="login">
		<x-label>go to updater</x-label>
	</x-button>
    
</div>

<x-button style="position:absolute; right:45%; bottom: 2%" togglable>
  <x-box >
	  <x-icon name="system-update-alt"></x-icon>
	  <x-label>{{ ' ' + appVersion}}</x-label>
  </x-box>
</x-button>
<x-button id="update_available" style="position:absolute; right:40%; bottom: 7%; opacity: 0">
	  <x-label>Check for Updates</x-label>
	  <dialog>
			<main>
			  <h3>New Version Available</h3>
			  <p>Update it ready to install. Click here to install the lastest version. Application will be auto updated on next restart</p>
			</main>

			<footer>
			  <!-- <x-button id="disagree-button">
				<x-label>Cancel</x-label>
			  </x-button> -->
			  <x-button toggled id="agree-button" ng-click="installUpdates();">
				<x-label>Restart</x-label>
			  </x-button>
			</footer>
		</dialog>
</x-button>

